<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCamera"
        tools:targetApi="31">




        <!-- Actividad Principal que se inicia al lanzar la aplicación -->
        <activity
            android:name=".SenseSpeakActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para Discapacidad Visual -->
        <activity
            android:name=".BlindActivity"
            android:exported="false" />

        <!-- Actividad para Identificación de Colores -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".DeafActivity"
            android:exported="false"
            ></activity>

        <activity android:name=".VoiceActivity"
            android:exported="false"
            ></activity>

    </application>

</manifest>